<div class="container">

  <div class="row city" [ngStyle]="{'background-image': 'url(\'' + _backgroundImage + '\')', 'background-color': info.color }">
    
    <div class="city-info col-md-4 col-lg-3" [ngStyle]="{'background-color': info.color}">
      <h3 class="city-info__name">{{ info.name }}</h3>
      <p>{{ info.excerpt }}</p>
    </div>

    <div class="weather-info col-md-8 col-lg-9">
      
      <div class="weather-info_main">
        <div class="weather-info__description">
          <fa-icon [icon]="_fontAwesome[_weatherService.icons[_weather.icon]]"></fa-icon>
          <h4>
            {{ _weather.main }}
            <small>{{ _weather.description }}</small>
          </h4>
        </div>
        <div class="weather-info__temp">
          {{ _main.temp | number:'0.0-0' }}<small>{{ _unitsSystem.temperatureUnits }}</small>
        </div>
      </div>
      
      <div class="weather-info__widgets">
        
        <div class="weather-info__widgets__wind">
          <fa-icon [icon]="_fontAwesome.faWind"></fa-icon>
          <span>{{ _windSpeed | number:'0.0-1' }} <small>{{ _unitsSystem.speedUnits }}</small> </span>
          Wind
        </div>
        
        <div class="weather-info__widgets__humidity">
          <fa-icon [icon]="_fontAwesome.faTint"></fa-icon>
          <span>{{ _main.humidity }} <small>%</small> </span>
          Humidity
        </div>

        <div class="weather-info__widgets__pressure">
          <fa-icon [icon]="_fontAwesome.faStopwatch"></fa-icon>
          <span>{{ _main.pressure }} <small>bar</small> </span>
          Pressure
        </div>

      </div>

    </div>

  </div>

</div>