<app-navbar></app-navbar>

<div class="general" [ngStyle]="{'background-image': 'url(\''+ _backgroundImageVector +'\')'}">
    <header [ngStyle]="{'background-image': 'url(\''+ _backgroundImage +'\')'}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4 description" [ngStyle]="{'background-color': _city.color }">
                    <h2>Forecast</h2>
                    <h3>{{ _city.name }}</h3>
                    <p>The following is the {{ _city.name }}'s weather forecast for the present day.</p>
                </div>
            </div>
        </div>
    </header>
    
    <app-forecast #forecastComponent></app-forecast>
</div>




