<nav class="navbar">
  
  <div class="container">

    <a class="navbar-brand" href="./dashboard">
      <fa-icon [icon]="fontAwesome.faBolt"></fa-icon>
      Skywatch
    </a>
  
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary">
          <input type="radio" name="options" id="metric" autocomplete="off" checked>
          <fa-icon [icon]="fontAwesome.faTemperatureLow"></fa-icon>
          Metric
      </label>
    </div>

  </div>

</nav>