@import '../../variables.scss';

.navbar {
    border-bottom: 1px solid rgba(255,255,255,0.04);
    background-color: #2C3345;
}

.navbar-brand {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    outline: medium none;
    font-size: 30px;
    :visited {
        color: white;
    }
}

fa-icon {
    font-weight: normal;
    color: $icon-general-color;
}

.btn.btn-secondary {
    background-color: #08080a;
    color: rgba(255, 255, 255, 0.45);
    font-size: 0.9em;
    cursor: pointer;
    &:hover {
        background-color: #333;
    }
}