<nav class="navbar">
  
  <div class="container">

    <a class="navbar-brand" href="#">
      <fa-icon [icon]="fontAwesome.faBolt"></fa-icon>
      Skywatch
    </a>
  
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="metric" autocomplete="off" checked> Metric
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="imperial" autocomplete="off"> Imperial
      </label>
    </div>

  </div>

</nav>