:host {
    display: flex;
}

.city-info {
    height: 340px;
    flex-basis: 270px;
    background: none no-repeat scroll center bottom transparent;
    background-size: cover;
    padding: 40px 30px 30px;
    position: relative;
    background-blend-mode: multiply;
}

.city-info__name {
    color: #631e1e;
    text-shadow: 1px 1px 2px white;
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 35px;
    position: relative;
    z-index: 2;
}

.weather-info {
    flex-grow: 1;
    background: none no-repeat scroll center center transparent;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    padding: 40px;
}

.weather-info__temp {
    font-size: 90px;
    font-family: 'Roboto Condensed';
    font-weight: 900;
    display: flex;
    align-items: flex-start;
    line-height: 1;
    position: absolute;
    right: 30px;
    bottom: 30px;
    small {
        font-size: 40px;
        line-height: 1.3em;
    }
}

.weather-info__description {
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    text-transform: capitalize;
    flex-grow: 1;
    fa-icon {
        font-size: 90px;
        line-height: 1;
        margin-right: 10px;
    }
}